MYSQL_DATABASE=ruoyi-vue-pro-jdk8
MYSQL_ROOT_PASSWORD=root
JAVA_OPTS=-Xms512m -Xmx1024m -Djava.security.egd=file:/dev/./urandom
AISTUDY_DIFY_BASE_URL=https://api.dify.ai/v1
AISTUDY_DIFY_CHAT_API_KEY=
